/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background-color: #0f0f0f;
    color: #fff;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ), #111;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
}

.hero-content p {
    margin: 15px 0 25px;
    font-size: 1.2rem;
    color: #ccc;
}

.btn {
    padding: 12px 30px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: transform 0.3s ease, background 0.3s ease;
}

.btn:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

/* ABOUT */
.about {
    padding: 80px 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.about h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.about p {
    color: #bbb;
    line-height: 1.6;
}
