/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* SCROLL SUAVE */
html {
    scroll-behavior: smooth;
}

/* BODY */
body {
    background-color: #0f0f0f;
    color: #fff;
}

/* BOTÓN VOLVER */
.back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: white;
    background-color: #222;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 14px;
    transition: background 0.3s;
    z-index: 100;
}

.back-btn:hover {
    background-color: #e10600;
}

/* HERO */
.hero {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
    color: #e10600;
}

.hero p {
    font-size: 18px;
    max-width: 500px;
    margin-bottom: 30px;
    color: #ccc;
}

.cta-btn {
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #e10600;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
}

.cta-btn:hover {
    transform: scale(1.05);
    background-color: #ff1c14;
}

/* PLANES */
.plans {
    padding: 60px 20px;
    background-color: #141414;
    text-align: center;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.plans.show {
    opacity: 1;
    transform: translateY(0);
}

.plans h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.plans-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

/* TARJETAS */
.plan-card {
    background-color: #1e1e1e;
    padding: 25px;
    width: 280px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.plan-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.7);
}

.plan-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    color: #e10600;
    margin-bottom: 20px;
}

.plan-card ul {
    list-style: none;
    margin-bottom: 20px;
}

.plan-card ul li {
    margin-bottom: 10px;
    color: #ccc;
}

.plan-card button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.plan-card button:hover {
    background-color: #e10600;
}

/* DESTACADO */
.featured {
    border: 2px solid #e10600;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    background-color: #0f0f0f;
    color: #777;
    font-size: 14px;
}
