/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #111; /* negro oscuro */
    color: #fff; /* texto blanco */
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card {
    background-color: #222; /* gris oscuro */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

h2 {
    margin-bottom: 10px;
    color: #f0f0f0;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    background-color: #333; /* gris medio */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #555;
}
/* Estilo para los menús */
.menu {
    display: none; /* Oculto por defecto */
    background-color: #222; /* mismo gris oscuro */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.menu h3 {
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    padding: 5px 0;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}
