body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Menús ocultos por defecto */
.menu {
    max-height: 0; /* Oculto inicialmente */
    overflow: hidden; /* Para que no se vea contenido cuando está cerrado */
    background-color: #222;
    padding: 0 20px; /* Ajustamos padding horizontal */
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);

    transition: max-height 0.5s ease, padding 0.5s ease; /* animación */
}

.menu h3 {
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
    padding-left: 0;
}

.menu ul li {
    margin-bottom: 5px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}
