/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background-color: #0f0f0f;
    color: white;
    min-height: 100vh;
}

/* VOLVER */
.back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: white;
    background-color: #222;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 14px;
}

.back-btn:hover {
    background-color: #e10600;
}

/* CONTENEDOR */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
}

/* TITULOS */
h1 {
    font-size: 42px;
    color: #e10600;
}

#mode {
    color: #ccc;
    font-size: 18px;
}

/* TIMER */
#timer {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* BOTONES */
.controls {
    display: flex;
    gap: 15px;
}

.controls button {
    padding: 12px 22px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #333;
    color: white;
    transition: background 0.3s, transform 0.2s;
}

.controls button:hover {
    background-color: #e10600;
    transform: scale(1.05);
}
